#video-card{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
#listing-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}