* body{
    background-color: #DCF2F1;
    max-height: 100vw;
    max-width: 100vw;
    box-sizing: border-box;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #0F1035;
}